{% load static %}
<!DOCTYPE HTML>
<html>

<head>
	<title>分組選課</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'assets/css/customize.css' %}">
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<h1>輔導處<br />
				選課系統</h1>
			<p>Counseling room subject system <a href="https://twitter.com/ajlkn">@System Administrator</a> for <a
					href="/">Everyone</a><br />
				make this world <a href="">be better</a>.</p>
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo">分組選課</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				{% for i in class_code %}
				<li id="class_code_{{i}}"><a href="/{{i}}">{{i}}班</a></li>
				{% endfor %}
			</ul>
		</nav>
		<!-- Main -->
		<div id="main">
			<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<span class="date">109學年度第一學期</span>
					<div id=student_autocomp>
						<label for="autocomplete">輸入座號</label>
						<input id="input_student_autocomp">
						<hr>
						<span id="student" style="visibility:hidden">.</span>
						<label id="assign_status" style="color:white">已登錄</label>
					</div>
				</header>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-6">
							<ul style="text-align: right;list-style-type: none;padding-right:6em;">
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
								<li>10</li>
							</ul>
						</div>
						<ul id="list" class="col-md-6 col-6" style="text-align: left;list-style-type: none">
							{%for i in course%}
							<li class="item" id="{{i.id}}"></span>{{i.name_code}}| {{i.description}}</li>
							{%endfor%}
						</ul>
						<ul class="actions special">
							<li> <input type="submit" value="確定" onclick="submit()"></li>
						</ul>
					</div>
				</div>
			</article>

			<!-- Posts -->
			<!-- <section class="posts">
				<article>
					<header>
						<span class="date">April 24, 2017</span>
						<h2><a href="#">Sed magna<br />
								ipsum faucibus</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
						venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 22, 2017</span>
						<h2><a href="#">Primis eget<br />
								imperdiet lorem</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
						venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 18, 2017</span>
						<h2><a href="#">Ante mattis<br />
								interdum dolor</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
						venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 14, 2017</span>
						<h2><a href="#">Tempus sed<br />
								nulla imperdiet</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
						venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 11, 2017</span>
						<h2><a href="#">Odio magna<br />
								sed consectetur</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
						venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 7, 2017</span>
						<h2><a href="#">Augue lorem<br />
								primis vestibulum</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/pic07.jpg' %}" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
						venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
			</section> -->

			<!-- Footer -->
			<footer>
			</footer>

		</div>

		<!-- Footer -->
		<footer id="footer">

		</footer>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>&copy; Untitled</li>
				<li>Layout Design: <a href="https://html5up.net">HTML5 UP</a></li>
				<li>System Design: <a href="">Jhih-Wei Jhan,</a></li>
			</ul>
		</div>
	</div>

	<!-- Scripts -->
	<script>
		var temp_students = {{students}};
	</script>
	<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
	<script src="{% static 'assets/js/browser.min.js'%}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
	<script src="{% static 'assets/js/util.js'%}"></script>
	<script src="{% static 'assets/js/main.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="{% static 'assets/js/customize.js' %}"></script>

</body>

</html>